.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  gap: 10px;
}

.display {
  height: 80px;
  width: 380px;
  border: 1px solid black;
}

.keyboarrd {
  height: 600px;
  width: 380px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.op-buttons {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: none;
  font-size: 30px;
}

body {
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}
