.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  gap: 10px;
}

.display {
  height: 80px;
  width: 380px;
  display: flex;
  flex-direction: column;

  text-align: right;
  /* margin-right: 25px; */
}

.delete-btn-div {
  display: flex;
  align-items: center;
  justify-content: right;
  /* margin-right: 40px; */
  height: auto;
}

.result-text {
  margin-top: 100px;
  margin-right: 20px;
  line-height: 1;
}

.expression-display {
  margin-right: 20px;
}

.divider-span {
  text-align: center;
}

.delete-button {
  background: none;
  border: none;
  color: gold;
  font-size: 20px;
}

.keyboarrd {
  height: auto;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* margin-top: 80px; */
}

.container {
  margin-top: 80px;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.op-buttons {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: none;
  font-size: 30px;
  transition: transform 0.1s ease;
}

.op-buttons:active {
  /* Shrinks to 90% of original size when clicked */

  background-color: gray !important;
  font-size: 20px;
}

body {
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

.operation-buttons-div {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
  gap: 100px;
  margin-top: 6px;
}

.container-two {
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-button {
  border: none;
  background: none;
  color: greenyellow;
  font-size: 20px;
  cursor: pointer;
}

.calculator-button {
  border: none;
  background: none;
  color: greenyellow;
  font-size: 20px;
  cursor: pointer;
}

/* When app is in standalone mode (installed as PWA) */
