.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  gap: 10px;
}

.display {
  height: 80px;
  width: 380px;
  border: 1px solid black;
  text-align: right;
  margin-right: 25px;
}

/* .operation-display {
  font-size: 35px;
} */

.keyboarrd {
  height: 600px;
  width: 380px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 45px;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.op-buttons {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: none;
  font-size: 30px;
  transition: transform 0.1s ease;
}

.op-buttons:active {
  /* Shrinks to 90% of original size when clicked */

  background-color: gray !important;
  font-size: 20px;
}

body {
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}
